/* Main elements */
html, head, body, #root { height: 100%; width: 100%; }
body { background: #009688; }

/* Sizes */
.card-200 { height: 200px; width: 200px; }
.card-200-image { height: 145px; width: 200px; }
.nav-logo { height: 42px; }

/* Little alterations */
.button { margin: .25rem !important; width: 120px; }

/* Problem with tachyons */
input[type="password"] { padding: 28px 14px; }